.Colours {
	width: 100%; 
}

.button {
	padding: 25px 35px;
	border-radius: 4px;
}

button {
	padding: 25px 35px;
	border-radius: 4px;
	background-color: green;
}

h1 {
	color: $yellow;
	font-size: 4rem;
	text-transform: uppercase;
	display: block;
	width: 100%;
	text-align: center;
  }