<!DOCTYPE html>
<html>
<head>
<style>
    .Colors {
	width: 100%; 
}

h1 {
    color: #e74c3c;
	font-size: 4rem;
	text-transform: uppercase;
	display: block;
	width: 100%;
	text-align: center;
}

input[type=submit] {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 32px;
  border-radius: 4px;
  margin: 4px 2px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

</style>
<title> xmas lights </title>
<meta name="viewpoint" content = "width = device-width, initial-scale = 1.0, minimum-scale = 1, maximum-scale = 1, user-scalable = no" /> <meta name="apple-mobile-web-app-title" content="Wifi Led" /> <meta name="apple-mobile-web-app-capable" content="yes" />  
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='Style.css') }}">
</head> <body>


    <table class="Colors" cellspacing="10" border="0">
        <h1>XMAS LIGHTS!</h1>
        <form method="post" action="/">
        <tr>
            <input type="submit" name="color Wipe" value="colorWipe">
            <input type="submit" name="theater Chase" value="theaterChase">
            <input type="submit" name="rainbow Wheel" value="wheel">
            <input type="submit" name="rainbow Stuff" value="rainbow">
            <input type="submit" name="rainbow Cycle" value="rainbowCycle">
            <input type="submit" name="OFF" value="OFF">
        </tr>
        </form>
    </table>
</body>
</html>
